<h1>What is Connor?</h1>

<div class="">
  <p>Connor is the ultimate CRM for wealth management professionals.</p>
  <p>Its an one-stop, do-it-all solution for all your mundane daily tasks.</p>
  <p>It saves you time so that you can do what you do best.</p>
</div>

<h2>About me</h2>

<div class="">
  <p>I am Kaiser Chan and I am a wealth management professional who vows to use technology to improve wealth management practices.</p>
</div>

<div class="">
  <p><a href="./">Back to the home page</a></p>
</div>
