<div class="home">

  <h1 class="home_header">Welcome to Connor - The Ultimate CRM</h1>

  <div class="">
    <p><a href="./contacts">Access the contact list here</a></p>
  </div>

  <div class="">
    <p><a href="./about">Find out more about Connor</a></p>
  </div>

</div>
