<div class="create_new">

  <h1>Create new Contact</h1>

  <form action='/contacts' method='post'>

    <div class="input_section">
      <label for='first_name'>
        <span class="input_field">First Name:</span>
        <br>
        <input class="input_form" type='text' name='first_name'>
      </label>
    </div>

    <div class="input_section">
      <label for="last_name">
        <span class="input_field">Last Name:</span>
        <br>
        <input class="input_form" type='text' name='last_name'>
      </label>
    </div>

    <div class="input_section">
      <label for="email">
        <span class="input_field">Email:</span>
        <br>
        <input class="input_form" type='text' name='email'>
      </label>
    </div>

    <div class="input_section">
      <label for="note">
        <span class="input_field">Note:</span>
        <br>
        <textarea class="input_note" name="note" rows="8" cols="80"></textarea>
        <!-- <input class="input_note" type='text' name='note'> -->
      </label>
    </div>

    <input type='submit' value='New Contact'>

  </form>


  <div class="return">
    <p><a href="/contacts">Back to contact list</a></p>
    <br>
  </div>

</div>
