/* <---------- LAYOUT STYLE BELOW ---------->*/
html {
  box-sizing: border-box;
  font-family: helvetica, monospace, sans-serif;
}

header {
  text-align: center;
  font-weight: 900;
  background-color: black;
  color: white;
  font-size: 3rem;
  padding: 1rem 0;
  width: 90%;
  margin: 0 auto;
}

nav {
  margin-top: 2px;
  width: 90%;
  margin: 0 auto;
}

.menu {
  padding: 0;
  margin: 0;
}

.menu_item {
  list-style: none;
  background-color: lightgrey;
  color: white;
  text-align: center;
  margin-bottom: 2px;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 5px;
}

footer {
  bottom: 0px;
  left: 8px;
  right: 8px;
  align-items: center;
  height: 50px;
  background-color: grey;
  /*margin-top: 50px;*/
  position: fixed;
}

footer p {
  color: white;
  text-align: center;
}


/* <---------- HOME INDEX STYLE BELOW ---------->*/
.home {
  width: 85%;
  margin: 70px auto 0 auto;
  font-size: 1.25rem;
  text-align: center;
}

.home_header {
  margin-bottom: 70px;
}

/* <---------- CONTACTS STYLE BELOW ---------->*/
.contact {
  width: 85%;
  margin: 0 auto;
  font-size: 1.25rem;
  text-align: left;
}

.contact_header {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 20px 20px;
  background-color: lightpink;
}

.contact_list {
  list-style: none;
  padding: 0;
}

.contact_id {
  background-color: blue;
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 10px;
  margin-top: 35px;
}

.contact_detail {
  background-color: lightblue;
  text-align: left;
  color: black;
  list-style: none;
  font-weight: bold;
  padding: 10px;
}.

.return {
  height: 60%;
  margin-bottom: 100px;
}

.contact_list :nth-child(1) {
  margin-top: 0px;
}

.return {
  height: 50%;
  margin:40px 0 80px 0;
}

/*.contact_action {
  color: white;
  background-color: blue;
  font-weight: bold;
}*/


/* <---------- ABOUT US STYLE BELOW ---------->*/
.about {
  width: 85%;
  margin: 70px auto 0 auto;
  font-size: 1.25rem;
  text-align: center;
}

.about_header {
  margin-bottom: 40px;
}

.about_intro {
  margin-bottom: 60px;
}
